<div class="row about-content about-content--timeline">

    <div class="col-full text-center">
        <h3>İş ve Proje Deneyimlerim</h3>
    </div>

    <div class="col-six tab-full left">
        <div class="timeline">

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">July 2015 - Present</p>
                    <h3>Awesome Studio</h3>
                    <h5>Lead Designer</h5>
                </div>
                <div class="timeline__desc">
                    <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
                </div>
            </div> <!-- end timeline__block -->

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">July 2014 - June 2015</p>
                    <h3>Super Cool Agency</h3>
                    <h5>Front-end Developer</h5>
                </div>
                <div class="timeline__desc">
                    <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
                </div>
            </div> <!-- end timeline__block -->

        </div> <!-- end timeline -->
    </div> <!-- end left -->

    <div class="col-six tab-full right">
        <div class="timeline">

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">July 2012 - June 2014</p>
                    <h3>Great Design Studio</h3>
                    <h5>Web Designer</h5>
                </div>
                <div class="timeline__desc">
                    <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
                </div>
            </div> <!-- end timeline__block -->

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">July 2011 - June 2012</p>
                    <h3>Epic Design Agency</h3>
                    <h5>Web Designer</h5>
                </div>
                <div class="timeline__desc">
                    <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
                </div>
            </div> <!-- end timeline__block -->

        </div> <!-- end timeline -->
    </div> <!-- end right -->

</div> <!-- end about-content timeline -->
